In [2]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /home/codespace/.local/lib/python3.12/site-packages (from sweetviz) (2.2.3)
Requirement already satisfied: numpy>=1.16.0 in /home/codespace/.local/lib/python3.12/site-packages (from sweetviz) (2.2.0)
Requirement already satisfied: matplotlib>=3.1.3 in /home/codespace/.local/lib/python3.12/site-packages (from sweetviz) (3.9.3)
Collecting tqdm>=4.43.0 (from sweetviz)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: scipy>=1.3.2 in /home/codespace/.local/lib/python3.12/site-packages (from sweetviz) (1.14.1)
Requirement already satisfied: jinja2>=2.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from sweetviz) (3.1.4)
Collecting importlib-resources>=1.2.0 (from sweetviz)
  Downloading importlib_resources-6.4.5-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2>=2.11.1->sweetviz) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (24.2)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.17.0)
Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 23.9 MB/s eta 0:00:0000:0100:01
Downloading importlib_resources-6.4.5-py3-none-any.whl (36 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, importlib-resources, sweetviz
Successfully installed importlib-resources-6.4.5 sweetviz-2.3.1 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
# importing all the necessary libraries

import pandas as pd
import numpy as np
import sweetviz as sv

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
#path (here not required can directly pass in the read section)
file_path = 'dataset.csv'

# Read the CSV file
data = pd.read_csv(file_path)

In [5]:
df = data.copy() # will keep the original dataset and work in copy this will keep the original if any mistake

# <font color = 'blue'> Looking into data </font>
1. Data type
2. Summary Statistics
3. santiy check

In [6]:
df.head(2)

,taluk_name,At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs,At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs,At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs,At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs,Per capita income in Rs_2018_19_At Current Prices,Per capita income in Rs_2011_12_At Constant Prices
0,Afzalpur,203585,186705,154500,140566,79768,60056
1,Ajjampura,0,0,0,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 7 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   taluk_name                                                                  227 non-null    object
 1   At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs     228 non-null    int64
 2   At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs   228 non-null    int64
 3   At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs   228 non-null    int64
 4   At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs   228 non-null    int64
 5   Per capita income in Rs_2018_19_At Current Prices                           228 non-null    int64
 6   Per capita income in Rs_2011_12_At Constant Prices                          228 non-null    int64
dtypes: int64(6), object(1)
memory usage: 12.6+ KB

In [8]:
# 2. summuary statistic
df.describe()

,At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs,At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs,At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs,At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs,Per capita income in Rs_2018_19_At Current Prices,Per capita income in Rs_2011_12_At Constant Prices
count,2.280000e+02,2.280000e+02,2.280000e+02,2.280000e+02,2.280000e+02,2.280000e+02
mean,1.013958e+06,9.218189e+05,7.848216e+05,7.061205e+05,2.059533e+05,1.579141e+05
std,7.836566e+06,7.120608e+06,6.062711e+06,5.451123e+06,1.550443e+06,1.188860e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.302215e+05,1.196572e+05,1.035415e+05,9.419475e+04,6.392075e+04,4.758525e+04
50%,2.968180e+05,2.726260e+05,2.251030e+05,2.023390e+05,9.939550e+04,7.478200e+04
75%,4.424308e+05,4.047832e+05,3.405080e+05,3.103038e+05,1.374140e+05,1.060495e+05
max,1.155912e+08,1.050874e+08,8.946966e+07,8.049773e+07,2.347867e+07,1.800220e+07

In [9]:
# 3. santiy check
df.isnull().sum()

taluk_name                                                                    1
At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs       0
At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs     0
At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs     0
At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs     0
Per capita income in Rs_2018_19_At Current Prices                             0
Per capita income in Rs_2011_12_At Constant Prices                            0
dtype: int64

Their is only 1 null / missing values and it is in "taluk_name" column. As we know without taluk_name/district we cannot use there remaining data and required cleaning.

As original columns names are too long lets rename it and assign it short column names so it will 
become easy to code and use for analysis.


#   Column                                                                       new column name 
---  ------                                                                      --------------                                                                   
 1   At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs      gddp_2018_2019 (variable name can't start with number / have certain operator sign)
 2   At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs   nddp_2018_2019     
 3   At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs   gddp_2011_2012     
 4   At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs   nddp_2011_2012     
 5   Per capita income in Rs_2018_19_At Current Prices                           pci_2018_2019     
 6   Per capita income in Rs_2011_12_At Constant Prices                          pci_2011_2012     

'''

In [10]:
# original column names to see if any whitespaces are 
df.columns.to_list()

['taluk_name',
 'At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs ',
 'At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs ',
 'At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs ',
 'At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs ',
 'Per capita income in Rs_2018_19_At Current Prices ',
 'Per capita income in Rs_2011_12_At Constant Prices ']

In [13]:
df = df.rename(columns = {
                'At current prices 2018_19_Gross Distric Domestic Product(GDDP) in Lakhs ':'gddp_2018_2019',
                'At current price 2018_19_Net District Domestic Product (NDDP) Rs in Lakhs ':'nddp_2018_2019',
                'At constan price 2011-12_Gross distric Domestic Product(GDDP) Rs in Lakhs ':'gddp_2011_2012',
                'At constan price 2011_12_Net District Domestic Product (NDDP) Rs in Lakhs ':'nddp_2011_2012',
                'Per capita income in Rs_2018_19_At Current Prices ':'pci_2018_2019',
                'Per capita income in Rs_2011_12_At Constant Prices ':'pci_2011_2012'              
                
                })

In [14]:
df.head()

,taluk_name,gddp_2018_2019,nddp_2018_2019,gddp_2011_2012,nddp_2011_2012,pci_2018_2019,pci_2011_2012
0,Afzalpur,203585,186705,154500,140566,79768,60056
1,Ajjampura,0,0,0,0,0,0
2,Aland,307670,281068,238213,215771,77319,59356
3,Alnavara,0,0,0,0,0,0
4,Alur,108683,97704,83536,74134,107884,81858